@font-face {
    font-family: Transcity;
    src: url(/Project/Fonts/transcity.regular.otf);
}
@font-face {
    font-family: Kugile;
    src: url(/Project/Fonts/kugile.regular.ttf);
}
@font-face {
    font-family: Oliver Regular;
    src: url(/Project/Fonts/oliver.a.ttf);
}
@font-face {
    font-family: Oliver Italic;
    src: url(/Project/Fonts/oliver.oblique.ttf);
}

html {
    background-image: linear-gradient(#C2C5AA, #A4AC86, #656D4A, #414833);
    font-family: Oliver Regular;
}

body {
    margin: 0 auto;
    width: 1200px;
    background-color: #c2c5aa35;
    border: 2px solid #333D29;
}

header {
    border-bottom: 2px solid #333D29;

}

header h1{
    color: #1E140B;
    font-family: Transcity;
    font-size: 100px;
    
}

#logo {
    position: relative;
    top: -40px;
    float: left;
    width: 200px;
}

#profileicon {
    width: 50px;
    height: 50px;
    position: relative;
    top: -230px;
    left: 810px;
}

header button {
    border: 1px solid #1E140B;
    border-radius: 7px;
    box-shadow: 1px 1px 2px #1E140B;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background: #A68A64;
    color: #1E140B ;
    position: relative;
    top: -250px;
    left: 800px;
}

nav {
    width: 80%;
    margin: 10px auto;
    margin-top: -100px;
}

nav ul {
    border-radius: 10px;
    height: 40px;
    border: 2px solid #1E140B;
    /* Green Nav Colour */
    background-color: #293121;
    /* Brown Nav Colour */
    /* background-color: #3b2916; */
    display: flex;
    justify-content: space-around;
    /* gap: 300px; */
    font-family: Kugile;
}

nav ul li {
    margin-top: 8px;
    list-style: none;
    font-size: 22px;
    font-weight: 600;
}

nav ul li a {
    margin-top: -5px;

}

.dropdown {
    margin-top: 3px;
}

nav ul li a, .dropdown {
    /* Green Nav Text */
    color: #C2C5AA;
    /* Brown Nav Text */
    /* color: #B6AD90; */
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 3px 3px 2px #1E140B;
    background-color: #C2C5AA;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    padding: 13px 15px;
    color: #1E140B;
    text-decoration: none;
    text-align: left;
}

nav ul li a:hover, .dropdown:hover {
    background-color: #A4AC86;
}

.dropdown:hover .dropdown-content {
    border: 1px solid #1E140B;
    display:block;
}
/* Header End */
/* New Section Start */
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "new spotm"
    "trending spotm";
}


section#new {
    grid-area: new;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "newh newh newh newh"
    "book1 book2 book3 book4"
    "text1 text2 text3 text4";
    gap: 20px;
}

section#new h1 {
    grid-area: newh;
}

section#new img#newbook1 {
    grid-area: book1;
    height: 250px ;
}

section#new p#text1 {
    grid-area: text1;
}

section#new img#newbook2 {
    grid-area: book2;
    height: 250px;
}

section#new p#text2 {
    grid-area: text2;
}

section#new img#newbook3 {
    grid-area: book3;
    height: 250px;
}

section#new p#text3 {
    grid-area: text3;
}

section#new img#newbook4 {
    grid-area: book4;
    height: 250px;
}

section#new p#text4 {
    grid-area: text4;
}
/* New Releases End */

/* Trending Now Start */
section#trending {
    grid-area: trending;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "trendingh trendingh trendingh trendingh"
    "book1 book2 book3 book4"
    "text1 text2 text3 text4";
    gap: 20px;
}
section#trending h1 {
    grid-area: trendingh;
}

section#trending img#trendbook1 {
    grid-area: book1;
    height: 250px ;
}

section#trending p#text1 {
    grid-area: text1;
}

section#trending img#trendbook2 {
    grid-area: book2;
    height: 250px;
}

section#trending p#text2 {
    grid-area: text2;
}

section#trending img#trendbook3 {
    grid-area: book3;
    height: 250px;
}

section#trending p#text3 {
    grid-area: text3;
}

section#trending img#trendbook4 {
    grid-area: book4;
    height: 250px;
}

section#trending p#text4 {
    grid-area: text4;
}
/* Trending Now End */

/* Staff Picks Start */
section#spotm {
    grid-area: spotm;
    height: 40%;
}

section#spotm img {
    
}

/* Staff Picks End */

/* Footer Start */
footer {
    /* Green Footer */
    background-color: #293121;
    color: #C2C5AA;
    /* Brown Footer */
    /* background-color: #3b2916; */
    /* color: #B6AD90; */
    position: static;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #1E140B;
    border-top: 2px solid #1E140B;
}