/* My fonts */
/* @font-face {
    font-family: fontname;
    src: url(font location in files); 
} */

/* html style */
html {
    background-color: rgb(255, 255, 157);
    background-image: url ("images/background.jpg");

} 

/* body style*/ 
body{ 
    background-color: white;
    border: 2px solid black;
    width: 1000px;
    padding: 2px; /*the space within the border between section/text and border, the value of padding moves clockwise (ie 12px = top, 6px = right...)*/
    margin: 0px auto; /*the space outside the border*/
}

/* Header Style */
header {

    height: 220px;
    background-color: beige;
    border-bottom: 2px solid black;
    background-image: linear-gradient(to right, white, pink, red, black); /*to reight can be replaced with a degree amount*/

}
/* Website Logo Image*/

header img {
    width: 90px;
    height: 90px;
    border-radius:40px ; /*rounded corner for borders*/
    float: left;
    margin: 7px;
}

/*Heading style isnide header*/

header h1 {
    color: darkgreen;
    font-size: 28px;
    font-weight: 500; /*value is ammount of boldness*/
    font-family:Arial, Helvetica, sans-serif; /* type of font*/
    font-style: normal;
    position: sticky; 
    /* will always be on the page and doesnt block other elements */
    top: 0px;

}

header h2 {
    color: darkgreen;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

/* Main style */

main section img#feature {

    width: 400px;
    height: 300px;
    margin:10px auto;
    display: block;
}

/* Class = "intro" */
.intro {

    border: 2px solid red;
    background-color: azure;
}

h2::first-letter {
    font-size: 45px;
    text-shadow: 4px 4px 5px red; /*horrizontal shadow, vertical shadow, bluriness of shadow, (optional) wrap around shadow ammount(on left)  (higher number more blurry), and colour*/
    
}

p::first-line {
    color: red;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:link {  /*adjusts how the text link looks*/
    color: blue;
}

nav ul li a:visited {   /*adjusts how the link looks when clicked*/
    color: darkblue;
}

nav ul li a:hover { /*ajusts how the link looks when you hover it*/
    color: aqua;
}

nav ul li a:active {    /*different states of a link; ie active, hover, etc..*/
    text-decoration: none;
    color:aquamarine
}

main
{
    padding: 2px; 
}

main section img#first {    /*#first is the img id*/

    width: 400px;
    height: 300px;
    margin: 7px auto;
    display: block;
}

.intro {
    border: 2px solid black;
}

/*table style*/

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 10px auto;
    box-shadow: 4px 4px 5px black;
}

table caption {
    font-style: italic;
    color: red;
    font-size:18px ;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 2px solid black;
    vertical-align: top;    /*where the text vertically aligns*/
}

tr:first-child {    /*changes the first row of the table*/
    background-color: beige;
}

tr:nth-child(2) {   /*for specifc rows (numbers or even/odd can be written in bracket) */
    background-color: bisque;
}

tr:last-child {     /* changes the last row of a table */
    background-color: blanchedalmond;
}

main div:first-of-type {    /*first type of div element*/

    border: 2px solid blue;
}

main section:last-of-type { /*last type of section element*/

    background-color: aquamarine;
}
div#first {
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid blue;
    position: relative;
    /* valules after relate to the relative position */
    top: 130px;
    left: 150px;
    margin: 50px;

}

div#child {
    width: 100px;
    height: 100px;
    background-color: violet;
    position: absolute;
    left: 150px;
    top: 100px;

}


/* Transform */
section#transform {
    background-color: lightblue;
    border: 2px solid blue;
    height: 300px;
    width: 300px;
    transform: translate(230px, 140px);
    transform: rotate(30deg);   /* rotate (width 'x' or height 'y') by degree ammount */
    transform: scaleX(2);   /* Scales width(x) 2times or "scale (0.5, 0.5)" (x,y)*/
    transform: skew(45deg, 30deg);

}

div.transition {
    background-color: lightpink;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin: 130px;
    transition: width 3s;
    transition-delay: 1s;       /* can only be used for hover feature */
    transition-timing-function: ease-in;    /* slowly start, ease out slow at end */

}

/* Transition */
div.transition:hover {
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
}

/* Animation Styles */
section#animated {
    background-color: purple;
    border: 2px solid blueviolet;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: test;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;  /* how many times the animation repeats */
    animation-direction: alternate;
    position: relative;
    left: 30px;
    top: 20px;
}

@keyframes test {
    from {  /* can be changed to percentage instead of from and to (0%, 100%) and values in between */
        background-color: purple;
        left: 230px;
        top: 230px;
    }

    to {
        background-color: rgb(228, 134, 228);

    }
}

/* @keyframes test {


    0% {
        background-color: lightsalmon;
        left: 30px;
         top: 20px;


    }

    25% {
         background-color: #7accff;
        left: 230px;
        top: 20px;


    }

    50% {
        background-color: #fb7aff;
        left: 230px;
        top: 320px;


    }

    75% {

        background-color: #ff7a90;
        left: 30px;
        top: 320px;


    }

    100% {

        background-color: #e9ff7a;
        left: 30px;
        top: 20px;


    }
    
} */

/* Flexbox */
section#flexbox {
    background-color: palegoldenrod;
    width: 980px;
    height: 700px;
    border: 2px solid yellow;
    margin: 450px, 50px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    flex-flow: row wrap;

}

section#flexbox div.item1 {
    background-color: lightcoral;
    order: 4; /* changes the order of where it sits */
    /* flex-basis: 280px; */
    flex-grow: 0;
    flex-shrink: 3; /* this box will be a 1/3 of the size of the other boxes */
    flex: 0, 3;
    align-self: center;
}




/*footer style*/

footer {
    background-color: beige;
    height: 120px;
    border-top: 2px solid black;
    position: fixed; 
    /* Fixed position will not move, will always stay and might block others */
    bottom: 0px;
    width: 1000px;
}

footer p {

    text-align: center;
    font-size: 18px;

}