/* html style */

html {
    background-color: rgb(255, 255, 157);
    background-image: url ("images/background.jpg");

} 

/* body style*/ 
body{ 
    background-color: white;
    border: 2px solid black;
    width: 1000px;
    padding: 2px; /*the space within the border between section/text and border, the value of padding moves clockwise (ie 12px = top, 6px = right...)*/
    margin: 0px auto; /*the space outside the border*/
}

/* Header Style */
header {

    height: 220px;
    background-color: beige;
    border-bottom: 2px solid black;
    background-image: linear-gradient(to right, white, pink, red, black); /*to reight can be replaced with a degree amount*/

}
/* Website Logo Image*/

header img {
    width: 90px;
    height: 90px;
    border-radius:40px ; /*rounded corner for borders*/
    float: left;
    margin: 7px;
}

/*Heading style isnide header*/

header h1 {
    color: darkgreen;
    font-size: 28px;
    font-weight: 500; /*value is ammount of boldness*/
    font-family:Arial, Helvetica, sans-serif; /* type of font*/
    font-style: normal;

}

header h2 {
    color: darkgreen;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h2::first-letter {
    font-size: 45px;
    text-shadow: 4px 4px 5px red; /*horrizontal shadow, vertical shadow, bluriness of shadow, (optional) wrap around shadow ammount(on left)  (higher number more blurry), and colour*/
    
}

p::first-line {
    color: red;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:link {  /*adjusts how the text link looks*/
    color: blue;
}

nav ul li a:visited {   /*adjusts how the link looks when clicked*/
    color: darkblue;
}

nav ul li a:hover { /*ajusts how the link looks when you hover it*/
    color: aqua;
}

nav ul li a:active {    /*different states of a link; ie active, hover, etc..*/
    text-decoration: none;
    color:aquamarine
}

main
{
    padding: 2px; 
}

main section img#first {    /*#first is the img id*/

    width: 400px;
    height: 300px;
    margin: 7px auto;
    display: block;
}

.intro {
    border: 2px solid black;
}

/*table style*/

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 10px auto;
    box-shadow: 4px 4px 5px black;
}

table caption {
    font-style: italic;
    color: red;
    font-size:18px ;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 2px solid black;
    vertical-align: top;    /*where the text vertically aligns*/
}

tr:first-child {    /*changes the first row of the table*/
    background-color: beige;
}

tr:nth-child(2) {   /*for specifc rows (numbers or even/odd can be written in bracket) */
    background-color: bisque;
}

tr:last-child {     /* changes the last row of a table */
    background-color: blanchedalmond;
}

main div:first-of-type {    /*first type of div element*/

    border: 2px solid blue;
}

main section:last-of-type { /*last type of section element*/

    background-color: aquamarine;
}

/*footer style*/

footer {
    background-color: beige;
    height: 120px;
    border-top: 2px solid black;
}

footer p {

    text-align: center;
    font-size: 18px;

}