/* Colour Guide */
    /* Background: b7b2dc84 */
    /* Heading: #464550 */
    /* Subheading: #4e4660 */
    /* Text: #2f2f32*/
    /* navbar: #b7b2dc3e */
    /* active: #c4c4d4 */
    /* other: #a08bbb */

@font-face {
    font-family: HeaderFont;
    src: url(../fonts/mobilla.regular.ttf);
}

@font-face {
    font-family: TextFont;
    src: url(../fonts/glacial-indifference.regular.otf);
}
html {
    background-image: url(../images/bg_img.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

body {
    width: 90%;
    margin: 0px auto;
    display: grid;
    background-color: rgba(255, 255, 255, 0) !important;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "head"
    "main"
    "foot";
    background-color: rgba(255, 255, 255, 0) !important;
}
/* Header start */

header {
    margin-top: 2%;
    margin-bottom: 2%;
    grid-area: head;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo navbar";
    background-color: #b7b2dc3e;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px #3b3743;
}

section#head {
    grid-area: logo;
    display: flex;
    justify-content: start;
    gap: 10px;
}

img#logo {
    height: 30px;
}

header h3 {
    flex-wrap: nowrap;
    font-family: TextFont;
    color: #c4c4d4;
    font-size: 1.5em;
}

nav {
    grid-area: navbar;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

nav ul li {
    list-style: none;
}


nav ul a {
    flex-wrap: nowrap;
    width: 80px;
    text-decoration: none;
    color: #362c51;
    font-family: TextFont;
}

nav ul a#active{
    color: #c4c4d4;
}

/* header end */

main {
    margin: 0px auto;
    background-color: #b7b2dc84;
    grid-area: main;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "contact image";
    padding: 2%;
    max-width: 1500px;
    align-items: center;
    box-shadow: 5px 5px 5px #706980;
}

section#image {
    grid-area: image;
}

img#contactImg {
    max-height: 500px;
}

section#conatct {
    grid-area: contact;
}

section#contact h1 {
    font-size: 40px;
    font-family: HeaderFont;
    color: #464550;
} 

section#contact h2 {
    font-size: 25px;
    font-family: HeaderFont;
    color: #4e4660;
}

p {
    font-family: TextFont;
    color: #2f2f32;
}

button {
    border: none;
    border-radius: 10px;
    width: auto;
    box-shadow: 3px 5px 5px #706980;
    background-color: #362c51;
    color: #c4c4d4; 
}

/* footer start */

footer {
    box-shadow: 5px 5px 5px #706980;
    margin-top: 2%;
    grid-area: foot;
    background-color: #b7b2dc7d;
    height: 60px;
    border-radius: 20px;
    color: #362c51;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "copyright copyright copyright"
    "email message insta";
    align-items: center;
    justify-items: center;
    padding: 5px;
    line-height: 0.8em;
}

footer a{
    text-decoration: none;
    color: #6432d6;
}

p#copy {
    position: relative;
    right: 15px;
    grid-area: copyright;
}

p#email {
    grid-area: email;
}

p#message{
    grid-area: message;
}

p#insta{
    grid-area: insta;
}

/* footer end */