/*ASSIGNMENT 2 - CREATE WEBPAGE FROM MOCKUP*/

/*CLIENT COLOURS & FONTS
Background: #e6e6e6;
Header and Footer Black: #1b1b1b
Navigation bar/sidebar/Overview box: white
Accent blue: #5e9cae

FONT-FAMILY is Helvetica, Arial, sans-serif;

Width for main container should be 1000px.

*/
html {
    margin: auto;
    border: 2px solid #1b1b1b;
    width: 1100px;
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    margin-left: -50px;
    width: 1100px;
    background-color: #1b1b1b ;

}

header img#logo {
    padding-left: 50px;
    padding-top: 10px;
}

header img#search {
    position: relative;
    top: 0px;
    left: 500px;
    width: 60px;
}

header img#twitter {
    position: relative;
    top: 0px;
    left: 500px;
    width: 60px;
}

header img#linkedin {
    position: relative;
    top: 0px;
    left: 500px;
    width: 60px;
}

nav ul {
    border-bottom: 2px solid grey;
    background-color: white;
    display: flex;
    padding: 15px;
    padding-left: 50px;
    gap: 20px;
    list-style: none;
    
}

nav ul li a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #1b1b1b;
    
}
nav ul li a:hover {
    background-color: #5e9cae;
    color: white;
}

body {
    margin: 0 auto;
    width: 1000px;
}

section#Awards {
    margin-top: -15px;
    float: left;
}

img#Awards {
    width: 700px;
    padding-bottom: 20px;
}

aside {
    background-color: white;
    padding: 20px;
    float: right;
    width: 230px ;
    height: 325px;
    margin-top: -15px;
}

aside h1 {
    background-color: #5e9cae;
    padding: 10px;
    width: 250px;
    margin-top: -20px;
    margin-left: -20px;
    color: white;
    font-weight: normal;
    font-size: 25px;
    
}

aside p {
    padding-top: 8px;
    padding-left: 20px;
    font-size: 16px;
}

section#Overview {
    clear: both;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

section#Overview h2 {
    width: 970px;
    margin-left: -20px;
    background-color: #5e9cae;
    color: white;
    padding: 15px;
}

section#Overview h3 {
    font-size: 22px;
}

img#banner {
    width: 800px;
    height: 100px;
    padding: 20px;
    position: relative;
    right: 0px;
    left: 80px;
}

footer{
    margin-left: -50px;
    width: 1050px;
    background-color: #1b1b1b;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    clear: both;
}