html{
    font-family: sans-serif;
    background-image: url(../images/bats.gif);
    background-position: center;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 155px 1fr 70px;
    grid-template-areas:
    "head head"
    "aside main"
    "foot foot";
    margin: auto;
    border: 2px solid black;
    box-shadow: 5px 5px 6px 10px black;
    background-color: white;
    width: 700px;
}

header {
    border-bottom: 2px solid black;
    background-image: linear-gradient(45deg, white, orange, black);
    /* height: 155px; */
    grid-area: head;
}

header img {
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 80px;
    height: 80px;
}

header div#text{
    padding: 25px;
    margin-left: 100px;
}

header h1 {
    text-align: left;
    font-size: 35px;
    color: black;
    font-weight: 700;
    /* font-style: italic; */
    /* text-shadow: 4px 4px 5px black; */
    margin: 0em 0;

}
header h3 {
    text-indent:10px;
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header nav {
    grid-area: navbar;
}

header nav ul {
    height: 30px;
    display: grid;
    grid-template: 30px / 15% 20% 15% 25% 15%;
    gap: 15px;
    /* justify-content: space-around; */
    background-color: black;
}

header nav ul li a{
    text-align: center;
    display: block;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    min-width: 160px;
    background-color: black;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    padding: 13px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover, .dropdown:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display:block;
}

header nav ul li a#active{
    color: orange;
}

header nav ul li a:hover{
    background-color: gray;
}

section#aside {
    grid-area: aside;
}

section#aside ul {
    margin-left: -20px;
    /* width: 20%; */
    margin-top: 30px;
}

section#aside ul li {
    margin-bottom: 5px;
}

section#aside ul li a {
    text-align: left;
    display: block;
    width: 100px;
    padding: 12px 5px;
    border: 3px solid black;
    background-color: orange;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

main {
    grid-area: main;
    margin-top: 10px;
    /* width: 80%; */
    margin-left: 30px;
    line-height: 1.0;
}

main h3 {
    color: orange;
}

footer {
    grid-area: foot;
    background-image: linear-gradient(315deg, white, orange, black);
    padding: 10px;
    border-top: 3px solid black;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}