@font-face {
    font-family: Transcity;
    src: url(/Project/Fonts/transcity.regular.otf);
}
@font-face {
    font-family: Kugile;
    src: url(/Project/Fonts/kugile.regular.ttf);
}
@font-face {
    font-family: Oliver Regular;
    src: url(/Project/Fonts/oliver.a.ttf);
}
@font-face {
    font-family: Oliver Italic;
    src: url(/Project/Fonts/oliver.oblique.ttf);
}

html {
    background-image: linear-gradient(#C2C5AA, #A4AC86, #656D4A, #414833);
    height: 100%;
    font-family: Oliver Regular;
}

body {
    margin: 0 auto;
    width: 1200px;
    background-color: #c2c5aa35;
    border: 2px solid #333D29;
}

header {
    border-bottom: 2px solid #333D29;

}

header h1{
    color: #1E140B;
    font-family: Transcity;
    font-size: 100px;
    
}

#logo {
    position: relative;
    top: -40px;
    float: left;
    width: 200px;
}

#profileicon {
    width: 50px;
    height: 50px;
    position: relative;
    top: -230px;
    left: 810px;
}

header button {
    border: 1px solid #1E140B;
    border-radius: 7px;
    box-shadow: 1px 1px 2px #1E140B;
    width: 120px;
    height: 50px;
    font-size: 20px;
    background: #A68A64;
    color: #1E140B ;
    position: relative;
    top: -250px;
    left: 800px;
}

nav {
    width: 80%;
    margin: 10px auto;
    margin-top: -100px;
}

nav ul {
    border-radius: 10px;
    height: 40px;
    border: 2px solid #1E140B;
    /* Green Nav Colour */
    background-color: #293121;
    /* Brown Nav Colour */
    /* background-color: #3b2916; */
    display: flex;
    justify-content: space-around;
    /* gap: 300px; */
    font-family: Kugile;
}

nav ul li {
    margin-top: 8px;
    list-style: none;
    font-size: 22px;
    font-weight: 600;
}

nav ul li a {
    margin-top: -5px;

}

.dropdown {
    margin-top: 3px;
}

nav ul li a, .dropdown {
    /* Green Nav Text */
    color: #C2C5AA;
    /* Brown Nav Text */
    /* color: #B6AD90; */
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 3px 3px 2px #1E140B;
    background-color: #C2C5AA;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    padding: 13px 15px;
    color: #1E140B;
    text-decoration: none;
    text-align: left;
}

nav ul li a:hover, .dropdown:hover {
    background-color: #A4AC86;
}

.dropdown:hover .dropdown-content {
    border: 1px solid #1E140B;
    display:block;
}

footer {
    /* Green Footer */
    background-color: #293121;
    color: #C2C5AA;
    /* Brown Footer */
    /* background-color: #3b2916; */
    /* color: #B6AD90; */
    position: static;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #1E140B;
    border-top: 2px solid #1E140B;
}