html {
    font-family: sans-serif;
    background-image: url('images/bats.gif');
    width: 100%;
    height: 100%;
}

body {
    margin: 10px;
    box-shadow: 8px 8px 10px;
    background-color: white;
    width: 800px;
}

header {
    border-bottom: 2px solid black;
    background-image: linear-gradient(to right, white, orange, black);
}

header img {
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 140px;
    height: 140px;
}

header h1 {
    margin-top: 0px;
    text-align: left;
    font-size: 50px;
    color: orange;
    font-style: italic;
    text-shadow: 4px 4px 5px black;
}

header h3 {
    text-indent:10px;
    font-size: 30px;
}



main h1 {
    margin: 15px;
    font-size: 25px;

}

main h1::first-letter {
    font-size: 60px;
}

main p {
    font-size: 19px ;
    margin: 15px;
}

main h2 {
    font-size: 25px;
    margin: 15px;
}

main section ul li{
    list-style-type: circle solid;
    margin-bottom: 2px;
}

main section ul a {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

main section ul a:hover {
    color: green;
}

main section h3 {
    font-size: 25px;
    margin: 15px;
}

main section p:last-child {
    font-weight: bold;
}

footer {
    background-image: linear-gradient(to left, white, orange, black);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-top: 2px solid black;
    
}

/* Questions to ask*/
/* How to put the body in the center of page */
/* How to make the last line bold */
/* How to adjust header h1 text */
/* How to make the gradient a degree */